{% extends 'base.html' %}
{% block title %}Генератор паролей{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='js/sha.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle-progress.min.js') }}"></script>

    <div id="snackbar"></div>

    {#    <div id="resource-select">#}
    <div class="foldable unfolded" id="resource-foldable">
        <span class="form-label form-label-first form-label-primary"><span class="folded-icon">▼</span>Ресурс <span
                id="selected-resource" class="selected-value"></span><span id="selected-resource-new"
                                                                           class="selected-value-new"> (новый)</span></span>
        <div class="resource-finder foldee">
            <input type="text" id="resource-name" autocomplete="off" readonly
                onclick="this.removeAttribute(
                    'readOnly');">
            <div id="matching-resources" class="matching-values"></div>
            <div id="matching-resources-extender" class="matching-extender">▼</div>
        </div>
    </div>
    {#    </div>#}
    <div id="when-resource-selected" style="display: none">
        <div id="resource-url-div">
            <span class="form-label-secondary form-label">URL</span>

            <button id="url-edit">✎</button>
            <input type="url" id="resource-url" style="display: none">
            <a href="#" id="resource-a" target="_blank">https://</a>
        </div>

        <div class="foldable unfolded" id="account-foldable">
        <span class="form-label form-label-primary"><span class="folded-icon">▼</span>Аккаунт <span
                id="selected-account" class="selected-value"></span><span id="selected-account-new"
                                                                          class="selected-value-new"> (новый)</span></span>
            <div class="account-finder foldee"><input type="text" id="account-name">
                <div id="matching-accounts" class="matching-values"></div>
                <div id="matching-accounts-extender" class="matching-extender">▼</div>
            </div>
        </div>




        <div class="foldable unfolded" id="params-foldable">
            <span class="form-label form-label-primary"><span
                    class="folded-icon">▼</span>Параметры <span
                    id="selected-params" class="selected-value"></span><span id="selected-params-changed"
                                                                             class="selected-value-changed">*</span></span>
            <div class="foldee">
                <span class="form-label form-label-secondary">Длина</span>
                <input type="text" name="length" id="length-input" class="gen-input">
                <span class="form-label form-label-secondary">Ревизия</span>
                <input type="text" name="revision" id="revision-input" class="gen-input">
                <span class="form-label form-label-secondary">Составляющие пароля</span>
                <input type="checkbox" name="letters" id="letters-input" class="gen-input"><span
                    class="cb">Буквы</span><br>
                <input type="checkbox" name="digits" id="digits-input" class="gen-input"><span
                    class="cb">Цифры</span><br>
                <input type="checkbox" name="symbols" id="symbols-input" class="gen-input"><span class="cb">Спец. символы</span><br>
                <input type="checkbox" name="underscore" id="underscore-input" class="gen-input"><span
                    class="cb">Подчёркивание</span><br>
            </div>
        </div>
        <span class="form-label-secondary form-label">Мастер-пароль</span>
        <input type="password" name="master" id="master-input" class="input-master" autocomplete="new-password" readonly
                onclick="this.removeAttribute(
                    'readOnly');" onblur="this.setAttribute(
                    'readOnly', 'readonly');">
        <input type="button" name="generate" value="Генерировать" onclick="generate_click()">
        <div class="res" style="display:none;">
            <span class="form-label form-label-primary" id="result-label" style="position: relative"><div class="progress"></div>Результат</span>
            <div class="result">SHA1 мастер-пароля: <span class="result-value" id="master-sha"></span> </div>
            <div class="result">Пароль: <a class="repeatable" href="#" onclick="copyResultToClipboard(); return false;"><span class="result-value" id="result"></span></a> </div>
            <button onclick="cleanup()">Очистить</button>
        </div>
    </div>
{% endblock %}