{% extends 'base.html' %}
{% block title %}Генератор паролей{% endblock %}
{% block content %}
    <script src="{{ url_for('static', filename='js/sha.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gen.js') }}"></script>


    <div id="snackbar"></div>

    {#    <div id="resource-select">#}
    <div class="foldable unfolded" id="resource-foldable">
        <span class="form-label form-label-first form-label-primary"><span class="folded-icon">▼</span>Ресурс <span
                id="selected-resource" class="selected-value"></span><span id="selected-resource-new"
                                                                           class="selected-value-new"> (новый)</span></span>
        <div class="resource-finder foldee"><input type="text" id="resource-name">
            <div id="matching-resources" class="matching-values"></div>
            <div id="matching-resources-extender" class="matching-extender">▼</div>
        </div>
    </div>
    {#    </div>#}
    <div id="when-resource-selected" style="display: none">
        <div id="resource-url-div">
            <span class="form-label-secondary form-label">URL</span>

            <button id="url-edit">✎</button>
            <input type="url" id="resource-url" style="display: none">
            <a href="#" id="resource-a" target="_blank">https://</a>
        </div>

        <div class="foldable unfolded" id="account-foldable">
        <span class="form-label form-label-primary"><span class="folded-icon">▼</span>Аккаунт <span
                id="selected-account" class="selected-value"></span><span id="selected-account-new"
                                                                          class="selected-value-new"> (новый)</span></span>
            <div class="account-finder foldee"><input type="text" id="account-name">
                <div id="matching-accounts" class="matching-values"></div>
                <div id="matching-accounts-extender" class="matching-extender">▼</div>
            </div>
        </div>




        <div class="foldable unfolded" id="params-foldable">
            <span class="form-label form-label-primary"><span
                    class="folded-icon">▼</span>Параметры <span
                    id="selected-params" class="selected-value"></span><span id="selected-params-changed"
                                                                             class="selected-value-changed">*</span></span>
            <div class="foldee">
                <span class="form-label form-label-secondary">Длина</span>
                <input type="text" name="length" id="length-input" class="gen-input">
                <span class="form-label form-label-secondary">Ревизия</span>
                <input type="text" name="revision" id="revision-input" class="gen-input">
                <span class="form-label form-label-secondary">Составляющие пароля</span>
                <input type="checkbox" name="letters" id="letters-input" class="gen-input"><span
                    class="cb">Буквы</span><br>
                <input type="checkbox" name="digits" id="digits-input" class="gen-input"><span
                    class="cb">Цифры</span><br>
                <input type="checkbox" name="symbols" id="symbols-input" class="gen-input"><span class="cb">Спец. символы</span><br>
                <input type="checkbox" name="underscore" id="underscore-input" class="gen-input"><span
                    class="cb">Подчёркивание</span><br>
            </div>
        </div>
        <span class="form-label-secondary form-label">Мастер-пароль</span>
        <input type="password" name="master" id="master-input" class="input-master">
        <input type="button" name="generate" value="Генерировать" onclick="generate_click()">
        <div class="res" style="display:none; overflow:hidden">
            <h2>Результат</h2>
            <table>
                <tr>
                    <td>SHA1 мастер-пароля</td>
                    <td id="master-sha" colspan="2"></td>
                </tr>
                <tr>
                    <td>Результат:</td>
                    <td class="resulting"><a class="repeatable" href="#"
                                             onclick="copyResultToClipboard(); return false;"
                                             id='result'></a></td>
                </tr>
                <tr>
                    <td>Очистка:</td>
                    <td><a href="#" class="repeatable" id="time-remaining"
                           onclick="postponeCleanup(); return false"></a> <a
                            href="#" class="repeatable" id="clean-now" onclick="cleanup(); return false;">Сейчас</a>
                    </td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}